
# Original metric: /usr/lib/netdata/conf.d/health.d/disks.conf:L131
template: 60min_disk_utilization
      on: disk.util
      os: linux freebsd
   hosts: {{ netdata_collector_custom_hosts_for_disk_conf }}
families: *
  lookup: average -60m unaligned
   units: %
   every: 1m
   green: 95
     red: 98
    warn: $this > $green * (($status >= $WARNING)  ? (0.7) : (1))
    crit: $this > $red   * (($status == $CRITICAL) ? (0.7) : (1))
   delay: down 15m multiplier 1 max 1h
    info: the percentage of time the disk was busy, during the last 60 minutes
      to: sysadmin

template: disk_full_percent
      on: disk.space
    calc: $used * 100 / ($avail + $used)
   every: 1m
   units: %
    warn: $this > 90
    crit: $this > 95
   delay: up 5m down 5m multiplier 1.2 max 1h
