[{{ netdata_stream_default_api_key | mandatory }}]
    enabled = yes
    default memory mode = dbengine
    health enabled by default = auto

[{{ netdata_stream_silence_api_key | mandatory }}]
    enabled = yes
    default memory mode = dbengine
    health enabled by default = no
