[{{ netdata_collector_default_stream_key | mandatory }}]
    enabled = yes
    default memory mode = dbengine
    health enabled by default = auto

[{{ netdata_collector_silent_stream_key | mandatory }}]
    enabled = yes
    default memory mode = dbengine
    health enabled by default = no
